* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'dosis-medium';
	src: url('dosis-medium.woff') format('woff');
}
@font-face {
	font-family: 'dosis-light';
	src: url('dosis-light.woff') format('woff');
}

header {
	display: flex;
	height: 90px;
	background-image: url(header.svg);
	background-image: linear-gradient(hsla(360, 100%, 100%, 0.0), 75%, white),
	url(header.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	justify-content: space-between;
	align-items: center;
	font-family: 'dosis-medium', sans-serif;
	font-size: 12px;
}

.nome{
	margin-left: 5%;
}

.social, .social a:link {
	display: flex;
	justify-content: space-between;
	margin-right: 5%;
	text-decoration: none;
}

.social img {
	width: 20px;
}

.bio {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'dosis-light', sans-serif;
}

.foto {
	width: 40%;
	height: 40%;
	display: flex;
}

.testo-bio {
	margin-left: 15px;
	align-self: left;
	font-size: 9px;
}

footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 90px;
	background-image: url(header.svg);
	background-image: linear-gradient(white, 25%, hsla(360, 100%, 100%, 0.0)),
	url(header.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-family: 'dosis-medium', sans-serif;
}

.nomemail {
	display: flex;
	height: 70px;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.credit {
	margin-bottom: 5px;
	font-size: 7px;
	color: black;
}

a:link, a:visited, a:hover, a:active {
	color: black;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
	.testo-bio {
		font-size: 12px;
	}

	header {
		font-size: 18px;
	}

	.nomemail {
		font-size: 18px;
	}

	.foto {
		width: 30%;
		height: 30%;
	}

	.social img {
		width: 18px;
	}
}

@media only screen and (min-width: 1025px) {
	.testo-bio {
		font-size: 20px;
	}

	header {
		font-size: 25px;
	}

	.nomemail {
		font-size: 25px;
	}

	.foto {
		width: 25%;
		height: 25%;
	}

	.social img {
		width: 25px;
	}
}
